<div class="card">
    <div class="card-body">
        <div class="chartTrandingHolder">
            <div class="lineChart">
                <p-chart type="line" [data]="lineData" [options]="lineChartOptions"></p-chart>
            </div>
            <div class="lineChart">
                <p-chart type="line" [data]="lineData" [options]="lineChartOptionsGLTrending"></p-chart>
            </div>
            <div class="lineChart">
                <p-chart type="line" [data]="lineData" [options]="lineChartOptionsServiceHour"></p-chart>
            </div>
        </div>
    </div>
</div>